h2
{
	border-bottom:  solid;
	font-weight: bold;
}
#flex1
{
	background-color: #003333;
}
label
{
	color:white;
	display:inline-block;
	padding-right: 3px; 
	padding:10px;

}
img
{
	height: 200px;
	width:250px;

}
#flex2
{
	background-color:brown;
	
}
